<%= form_for(violation) do |f| %>
  <% if violation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(violation.errors.count, "error") %> prohibited this violation from being saved:</h2>

      <ul>
      <% violation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control', rows: 15 %>
  </div>
  <br>

  <div class="form-group">
    <%= f.file_field :main_image %>
  </div>
  <br>
  <div class="form-group">
    <label class="btn btn-primary">
      Upload an image <%= f.file_field :photo, style: 'display:none;' %>
    </label>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </div>
  <br>
<% end %>