<h1>Report a Violation</h1>

<p>Here's some filler text with some details pertaining to the details needed when reporting a violation, with probably some rules too</p>


<%= form_for(@violation, html: {multipart: true}) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.label :image, "Attach an Image" %>
  <%= f.file_field :image %>

  <%= f.submit 'Submit Violation' %>
<% end %>