<!DOCTYPE html>
<html>
  <head>
    <title>PropManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <%= render 'shared/header' %>
   <% flash.each do|key, message| %>
      <div class="text-center alert alert-<%= key == 'notice'? 'success': 'danger' %>">
        <%= message %>
        </div>
    <% end %>
    <div class='site-wrapper'>
      <div class='site-wrapper-inner'>
        <div class='cover-container'>
          <div id="background"></div>
          <%= video_tag(
            'Snowfall - 29314.mp4',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
            poster: 'home_bg.png'
          )
          %>
    <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
